* / {
    margin: 0;
    padding: 0;
}
#gora {
    padding-top:10px;
    background-color:  rgb(5, 66, 85);
    text-align: center;
    color:white;
    font-family: 'Courier New', Courier, monospace;
}
#srodek {
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    float:center;
}
#lewa {
    clear: both;
    background-color:rgb(5, 66, 85);
    height: 1150px;
    width: 150px;
    float:left;
    color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
}
button:hover {
    background-color: rgb(0, 81, 255);
} 
button {
    width: 150px;
    height: auto;
    background-color: whitesmoke;
    border-bottom: 2px solid black;
}
#spis {
    padding: 40px;
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    float: right;
}
table,td, th {
    border:1px solid yellow;
}