body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #696e9e;
  }

  .site-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    background: rgb(7, 0, 99);
}        
    
  .side-menu-trigger {
    border: 0;
    border-radius: 5px;
    background: #ffffff;
    
  }
  
  .side-menu {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    height: 1100px;
    width: 300px;
    top: 20px;
    right: -300px;
    padding: 0;
    background: rgb(5, 66, 85);
    transition: 0.3s transform ease-in-out;
  }
  
  .side-menu ul {
    position: absolute;
    display: flex;
    height: calc(100% - 20px);
    flex-wrap: wrap;
    margin: 0 10px;
    padding: 0;
    list-style-type: none;
    align-content: flex-start
  }
  
  .side-menu ul li {
    display: flex;
    height: 30px;
    background: #ffffff;
    flex-basis: 100%;
    margin-top: 20px;
    color: #696e9e;
    border-radius: 5px;
    overflow: hidden;
    
  }
  .side-menu ul li a {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #ffffff;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  .side-menu-trigger:focus ~ .side-menu, .side-menu:hover {
    transform: translateX(-300px); 
  }
#gora {
    padding-top:10px;
    background-color: rgb(5, 66, 85);
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#srodek {
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    float:center;
}
button:hover {
    background-color: rgb(0, 81, 255);
}
button {
    width: 150px;
    height: auto;
    background-color: whitesmoke;
    border-bottom: 2px solid black;
}
#spis {
    padding: 40px;
    color: black;
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    float: right;
}
table,td, th {
    border:1px solid yellow;
}